In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import json

In [3]:
filename = '../data/pdb_seqres.txt'

In [4]:
# opening the file
file_obj = open(filename, "r")

In [5]:
# reading the data from the file
file_data = file_obj.read()

In [6]:
# splitting the file data into lines
lines = file_data.splitlines()
# print(lines)
file_obj.close() 

lines[:10]

[">100d_A mol:na length:10  DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP*)-R(*G)-3')",
 'CCGGCGCCGG',
 ">100d_B mol:na length:10  DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP*)-R(*G)-3')",
 'CCGGCGCCGG',
 ">101d_A mol:na length:12  DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*CP*G)-3')",
 'CGCGAATTCGCG',
 ">101d_B mol:na length:12  DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*CP*G)-3')",
 'CGCGAATTCGCG',
 '>101m_A mol:protein length:154  MYOGLOBIN',
 'MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRVKHLKTEAEMKASEDLKKHGVTVLTALGAILKKKGHHEAELKPLAQSHATKHKIPIKYLEFISEAIIHVLHSRHPGNFGADAQGAMNKALELFRKDIAAKYKELGYQG']

In [7]:
pdb_mol = []
sequence = []
for line in lines:
    if line[:1]!='>':
        sequence.append(line)
    else:
        pdb_mol.append(line)

In [8]:
print(len(sequence))
print(len(pdb_mol))

767334
767334

In [9]:
pdb_mol[:2]

[">100d_A mol:na length:10  DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP*)-R(*G)-3')",
 ">100d_B mol:na length:10  DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP*)-R(*G)-3')"]

In [10]:
sequence[:2]

['CCGGCGCCGG', 'CCGGCGCCGG']

In [11]:
mol_seq_zip = zip(pdb_mol, sequence)
zip_list = list(mol_seq_zip)

In [12]:
df_raw = pd.DataFrame(zip_list)
df = df_raw.copy()
df.head()

,0,1
0,>100d_A mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG
1,>100d_B mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG
2,>101d_A mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG
3,>101d_B mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG
4,>101m_A mol:protein length:154 MYOGLOBIN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...

In [13]:
df = df.rename(columns={0: 'pdb', 1: 'sequence'})
df.head()

,pdb,sequence
0,>100d_A mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG
1,>100d_B mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG
2,>101d_A mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG
3,>101d_B mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG
4,>101m_A mol:protein length:154 MYOGLOBIN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...

In [14]:
pdb = df['pdb']

In [15]:
import nlp_data_prep as nlp
test0 = nlp.tokenize(pdb[0])
test0[1:9]

['100d_A', 'mol', ':', 'na', 'length:10', 'DNA/RNA', '(', "5'-R"]

In [16]:
X = df['pdb'].str.split(' ', expand=True) 
X.head()

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
0,>100d_A,mol:na,length:10,,DNA/RNA,(5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP*)-R(*G)...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,>100d_B,mol:na,length:10,,DNA/RNA,(5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP*)-R(*G)...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,>101d_A,mol:na,length:12,,DNA,(5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*CP*G)...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,>101d_B,mol:na,length:12,,DNA,(5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*CP*G)...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,>101m_A,mol:protein,length:154,,MYOGLOBIN,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
# Confirm unique molecular id numbers for each record:
print(f'df shape:{df.shape}')
X[0].nunique()

df shape:(767334, 2)

767334

In [ ]:
df_

In [18]:
df['pdb_id'] = X[0].str[1:]
df.head()

,pdb,sequence,pdb_id
0,>100d_A mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG,100d_A
1,>100d_B mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG,100d_B
2,>101d_A mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG,101d_A
3,>101d_B mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG,101d_B
4,>101m_A mol:protein length:154 MYOGLOBIN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A

In [19]:
X[1].value_counts()

mol:protein    722337
mol:na          44997
Name: 1, dtype: int64

In [20]:
df['mol'] = X[1].str[4:]
df.head()

,pdb,sequence,pdb_id,mol
0,>100d_A mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG,100d_A,na
1,>100d_B mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG,100d_B,na
2,>101d_A mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG,101d_A,na
3,>101d_B mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG,101d_B,na
4,>101m_A mol:protein length:154 MYOGLOBIN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein

In [21]:
# Confirm all X[2] values are length: records:
X[2].str[:6].value_counts()

length    767334
Name: 2, dtype: int64

In [22]:
df['length'] = X[2].str[7:]
df.head()

,pdb,sequence,pdb_id,mol,length
0,>100d_A mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG,100d_A,na,10
1,>100d_B mol:na length:10 DNA/RNA (5'-R(*CP*)-...,CCGGCGCCGG,100d_B,na,10
2,>101d_A mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG,101d_A,na,12
3,>101d_B mol:na length:12 DNA (5'-D(*CP*GP*CP*...,CGCGAATTCGCG,101d_B,na,12
4,>101m_A mol:protein length:154 MYOGLOBIN,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154

In [23]:
X[4].value_counts()

50S                                                  32876
DNA                                                  22418
30S                                                  22167
Proteasome                                           12247
60S                                                  11216
                                                     ...
RPL40E                                                   1
RPL30E                                                   1
RPL14E                                                   1
D-ERYTHRO-7,8-DIHYDRONEOPTERIN                           1
5'-D(P*GP*TP*CP*AP*GP*(3DR)P*GP*CP*AP*TP*GP*G)-3'        1
Name: 4, Length: 35522, dtype: int64

In [24]:
X[X[4]=="5'-D(P*GP*TP*CP*AP*GP*(3DR)P*GP*CP*AP*TP*GP*G)-3'"]

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
767311,>9mht_D,mol:na,length:12,,5'-D(P*GP*TP*CP*AP*GP*(3DR)P*GP*CP*AP*TP*GP*G)-3',None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [25]:
df.iloc[767311]

pdb         >9mht_D mol:na length:12  5'-D(P*GP*TP*CP*AP*G...
sequence                                         GTCAGNGCATGG
pdb_id                                                 9mht_D
mol                                                        na
length                                                     12
Name: 767311, dtype: object

In [26]:
X[113].value_counts()

transcription    1
Name: 113, dtype: int64

In [27]:
X[X[113]=='transcription']

,0,1,2,3,4,5,6,7,8,9,...,112,113,114,115,116,117,118,119,120,121
482198,>6gym_7,mol:protein,length:843,,General,transcription,and,DNA,repair,factor,...,"XPB,General",transcription,and,DNA,repair,factor,IIH,helicase,subunit,XPB

In [28]:
df[df['pdb_id'].str.startswith('6gym')]

,pdb,sequence,pdb_id,mol,length
482169,>6gym_0 mol:protein length:778 General transc...,MKFYIDDLPVLFPYPKIYPEQYNYMCDIKKTLDVGGNSILEMPSGT...,6gym_0,protein,778
482170,>6gym_B mol:protein length:1224 DNA-directed ...,MSDLANSEKYYDEDPYGFEDESAPITAEDSWAVISAFFREKGLVSQ...,6gym_B,protein,1224
482171,>6gym_C mol:protein length:318 DNA-directed R...,MSEEGPQVKIREASKDNVDFILSNVDLAMANSLRRVMIAEIPTLAI...,6gym_C,protein,318
482172,>6gym_D mol:protein length:221 DNA-directed R...,MNVSTSTFQTRRRRLKKVEEEENAATLQLGQEFQLKQINHQGEEEE...,6gym_D,protein,221
482173,>6gym_E mol:protein length:215 DNA-directed R...,MDQENERNISRLWRAFRTVKEMVKDRGYFITQEEVELPLEDFKAKY...,6gym_E,protein,215
482174,>6gym_F mol:protein length:155 DNA-directed R...,MSDYEEAFNDGNENFEDFDVEHFSDEETYEEKPQFKDGETTDANGK...,6gym_F,protein,155
482175,>6gym_G mol:protein length:171 DNA-directed R...,MFFIKDLSLNITLHPSFFGPRMKQYLKTKLLEEVEGSCTGKFGYIL...,6gym_G,protein,171
482176,>6gym_H mol:protein length:146 DNA-directed R...,MSNTLFDDIFQVSEVDPGRYNKVCRIEAASTTQDQCKLTLDINVEL...,6gym_H,protein,146
482177,>6gym_I mol:protein length:122 DNA-directed R...,MTTFRFCRDCNNMLYPREDKENNRLLFECRTCSYVEEAGSPLVYRH...,6gym_I,protein,122
482178,>6gym_J mol:protein length:70 DNA-directed RN...,MIVPVRCFSCGKVVGDKWESYLNLLQEDELDEGTALSRLGLKRYCC...,6gym_J,protein,70
482179,>6gym_K mol:protein length:120 DNA-directed R...,MNAPDRFELFLLGEGESKLKIDPDTKAPNAVVITFEKEDHTLGNLI...,6gym_K,protein,120
482180,>6gym_1 mol:protein length:641 General transc...,MSHSGAAIFEKVSGIIAINEDVSPAELTWRSTDGDKVHTVVLSTID...,6gym_1,protein,641
482181,>6gym_L mol:protein length:70 DNA-directed RN...,MSREGFQIPTNLDAAAAGTSQARTATLKYICAECSSKLSLSRTDAV...,6gym_L,protein,70
482182,>6gym_M mol:protein length:345 Transcription ...,MMTRESIDKRAGRRGPNLNIVLTCPECKVYPPKIVERFSEGDVVCA...,6gym_M,protein,345
482183,>6gym_O mol:protein length:240 TATA-box-bindi...,MADEERLKEFKEANKIVFDPNTRQVWENQNRDGTKPATTFQSEEDI...,6gym_O,protein,240
482184,>6gym_Q mol:protein length:735 Transcription ...,MSRRNPPGSRNGGGPTNASPFIKRDRMRRNFLRMRMGQNGSNSSSP...,6gym_Q,protein,735
482185,>6gym_R mol:protein length:400 Transcription ...,MSSGSAGAPALSNNSTNSVAKEKSGNISGDEYLSQEEEVFDGNDIE...,6gym_R,protein,400
482186,>6gym_U mol:protein length:171 Transcription ...,MSNAEASRVYEIIVESVVNEVREDFENAGIDEQTLQDLKNIWQKKL...,6gym_U,protein,171
482187,>6gym_V mol:protein length:122 Transcription ...,MAVPGYYELYRRSTIGNSLVDALDTLISDGRIEASLAMRVLETFDK...,6gym_V,protein,122
482188,>6gym_W mol:protein length:332 Transcription ...,MDRPIDDIVKNLLKFVVRGFYGGSFVLVLDAILFHSVLAEDDLKQL...,6gym_W,protein,332
482189,>6gym_X mol:protein length:328 Transcription ...,MSKNRDPLLANLNAFKSKVKSAPVIAPAKVGQKKTNDTVITIDGNT...,6gym_X,protein,328
482190,>6gym_Z mol:protein length:43 Unknown protein,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX,6gym_Z,protein,43
482191,>6gym_2 mol:protein length:462 General transc...,MSDYSLKHSVTQYLEEIPQQVQNRLYTSPATCLAIYRILPPLAKFF...,6gym_2,protein,462
482192,>6gym_N mol:na length:75 non-template DNA (HIS4),AACAGTAGCACGCTGTGTATATAATAGCTATGGAACGTTCGATTCA...,6gym_N,na,75
482193,>6gym_T mol:na length:75 Template DNA (HIS4),TTTTATGTATGTACAACACACATCAAAGGTGAATCGAACGTTCCAT...,6gym_T,na,75
482194,>6gym_3 mol:protein length:321 RNA polymerase...,MLMDEYEENKDMCPICKTDRYLSPDVKFLVNPECYHRICESCVDRI...,6gym_3,protein,321
482195,>6gym_4 mol:protein length:338 General transc...,MDAISDPTFKHARSRKQVTEESPSLLTVIIEIAPKLWTTFDEEGNE...,6gym_4,protein,338
482196,>6gym_5 mol:protein length:72 General transcr...,MARARKGALVQCDPSIKALILQIDAKMSDIVLEELDDTHLLVNPSK...,6gym_5,protein,72
482197,>6gym_6 mol:protein length:461 General transc...,MAPVVISESEEDEDRVAITRRTKRQVHFDGEGDDRVDQQQQQHSSS...,6gym_6,protein,461
482198,>6gym_7 mol:protein length:843 General transc...,MTDVEGYQPKSKGKIFPDMGESFFSSDEDSPATDAEIDENYDDNRE...,6gym_7,protein,843
482199,>6gym_A mol:protein length:1733 DNA-directed ...,MVGQQYSSAPLRTVKEVQFGLFSPEEVRAISVAKIRFPETMDETQT...,6gym_A,protein,1733

In [29]:
eeh = df.iloc[482198]
eeh

pdb         >6gym_7 mol:protein length:843  General transc...
sequence    MTDVEGYQPKSKGKIFPDMGESFFSSDEDSPATDAEIDENYDDNRE...
pdb_id                                                 6gym_7
mol                                                   protein
length                                                    843
Name: 482198, dtype: object

In [30]:
print(df.shape)
df.drop(index=482198, inplace=True)
df.shape

(767334, 5)

(767333, 5)

In [31]:
X2 = df['pdb'].str.split('  ', expand=True, n=1) 
X2.head(30)

,0,1
0,>100d_A mol:na length:10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
1,>100d_B mol:na length:10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
2,>101d_A mol:na length:12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
3,>101d_B mol:na length:12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
4,>101m_A mol:protein length:154,MYOGLOBIN
5,>102d_A mol:na length:12,DNA (5'-D(*CP*GP*CP*AP*AP*AP*TP*TP*TP*GP*CP*G)...
6,>102d_B mol:na length:12,DNA (5'-D(*CP*GP*CP*AP*AP*AP*TP*TP*TP*GP*CP*G)...
7,>102l_A mol:protein length:165,T4 LYSOZYME
8,>102m_A mol:protein length:154,MYOGLOBIN
9,>103d_A mol:na length:12,DNA (5'-D(*GP*TP*GP*GP*AP*AP*TP*GP*GP*AP*AP*C)...
10,>103d_B mol:na length:12,DNA (5'-D(*GP*TP*GP*GP*AP*AP*TP*GP*GP*AP*AP*C)...
11,>103l_A mol:protein length:167,T4 LYSOZYME
12,>103m_A mol:protein length:154,MYOGLOBIN
13,>104d_A mol:na length:12,DNA/RNA (5'-R(*CP*GP*CP*G)-D(P*TP*AP*TP*AP*CP*...
14,>104d_B mol:na length:12,DNA/RNA (5'-R(*CP*GP*CP*G)-D(P*TP*AP*TP*AP*CP*...
15,>104l_A mol:protein length:166,T4 LYSOZYME
16,>104l_B mol:protein length:166,T4 LYSOZYME
17,>104m_A mol:protein length:153,MYOGLOBIN
18,>105d_A mol:na length:3,DNA (5'-D(*TP*CP*C)-3')
19,>105d_B mol:na length:3,DNA (5'-D(*TP*CP*C)-3')
20,>105d_C mol:na length:3,DNA (5'-D(*TP*CP*C)-3')
21,>105d_D mol:na length:3,DNA (5'-D(*TP*CP*C)-3')
22,>105m_A mol:protein length:153,MYOGLOBIN
23,>106d_A mol:na length:3,DNA (5'-D(*MCYP*CP*T)-3')
24,>106d_B mol:na length:3,DNA (5'-D(*MCYP*CP*T)-3')
25,>106d_C mol:na length:3,DNA (5'-D(*MCYP*CP*T)-3')
26,>106d_D mol:na length:3,DNA (5'-D(*MCYP*CP*T)-3')
27,>106m_A mol:protein length:154,MYOGLOBIN
28,>107d_A mol:na length:7,DNA (5'-D(*CP*CP*TP*TP*TP*TP*C)-3')
29,>107d_B mol:na length:7,DNA (5'-D(*GP*AP*AP*AP*AP*GP*G)-3')

In [32]:
X3 = X2[0].str.split(' ', expand=True) 
X3.head()

         0            1           2
0  >100d_A       mol:na   length:10
1  >100d_B       mol:na   length:10
2  >101d_A       mol:na   length:12
3  >101d_B       mol:na   length:12
4  >101m_A  mol:protein  length:154

In [33]:
X2[1].value_counts().sort_values(ascending=False).head(30)

Capsid protein                                                     2672
capsid protein                                                     2623
Spike glycoprotein                                                 2623
coat protein                                                       2526
Capsid protein VP1                                                 2151
Major capsid protein                                               1983
Uncharacterized protein                                            1981
Beta-2-microglobulin                                               1948
Coat protein                                                       1640
STAPLE STRAND                                                      1526
Beta-lactamase                                                     1400
ATP-dependent Clp protease proteolytic subunit                     1281
Histone H4                                                         1245
cAMP and cAMP-inhibited cGMP 3',5'-cyclic phosphodiesterase 10A    1151
B-phycoerythrin beta chain                                         1106
Phycoerythrin alpha subunit                                        1032
Hemagglutinin                                                      1027
DNA-directed RNA polymerase subunit alpha                          1008
Ferritin heavy chain                                               1000
50S ribosomal protein L3                                            978
50S ribosomal protein L13                                           976
Non-structural protein 3                                            975
50S ribosomal protein L4                                            975
30S ribosomal protein S10                                           974
30S ribosomal protein S12                                           972
50S ribosomal protein L2                                            972
50S ribosomal protein L15                                           972
50S ribosomal protein L14                                           970
50S ribosomal protein L29                                           968
50S ribosomal protein L23                                           967
Name: 1, dtype: int64

In [34]:
df['mol_description'] = X2[1]
df.drop(columns='pdb', inplace=True)
df.head(10)

,sequence,pdb_id,mol,length,mol_description
0,CCGGCGCCGG,100d_A,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
1,CCGGCGCCGG,100d_B,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
2,CGCGAATTCGCG,101d_A,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
3,CGCGAATTCGCG,101d_B,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN
5,CGCAAATTTGCG,102d_A,na,12,DNA (5'-D(*CP*GP*CP*AP*AP*AP*TP*TP*TP*GP*CP*G)...
6,CGCAAATTTGCG,102d_B,na,12,DNA (5'-D(*CP*GP*CP*AP*AP*AP*TP*TP*TP*GP*CP*G)...
7,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,102l_A,protein,165,T4 LYSOZYME
8,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,102m_A,protein,154,MYOGLOBIN
9,GTGGAATGGAAC,103d_A,na,12,DNA (5'-D(*GP*TP*GP*GP*AP*AP*TP*GP*GP*AP*AP*C)...

Save new dataFrame as csv files and separate out the nucleic acid structures from the protein

In [36]:
df_na = df[df['mol']=='na']
print(df_na.shape)
display(df_na.head(10))

df_na.to_csv('../data/df_na.csv', index=False)

(44997, 5)

,sequence,pdb_id,mol,length,mol_description
0,CCGGCGCCGG,100d_A,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
1,CCGGCGCCGG,100d_B,na,10,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...
2,CGCGAATTCGCG,101d_A,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
3,CGCGAATTCGCG,101d_B,na,12,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR)P*GP*C...
5,CGCAAATTTGCG,102d_A,na,12,DNA (5'-D(*CP*GP*CP*AP*AP*AP*TP*TP*TP*GP*CP*G)...
6,CGCAAATTTGCG,102d_B,na,12,DNA (5'-D(*CP*GP*CP*AP*AP*AP*TP*TP*TP*GP*CP*G)...
9,GTGGAATGGAAC,103d_A,na,12,DNA (5'-D(*GP*TP*GP*GP*AP*AP*TP*GP*GP*AP*AP*C)...
10,GTGGAATGGAAC,103d_B,na,12,DNA (5'-D(*GP*TP*GP*GP*AP*AP*TP*GP*GP*AP*AP*C)...
13,CGCGTATACGCG,104d_A,na,12,DNA/RNA (5'-R(*CP*GP*CP*G)-D(P*TP*AP*TP*AP*CP*...
14,CGCGTATACGCG,104d_B,na,12,DNA/RNA (5'-R(*CP*GP*CP*G)-D(P*TP*AP*TP*AP*CP*...

In [37]:
df_protein = df[df['mol']=='protein']
print(df_protein.shape)
display(df_protein.head(10))

df_protein.to_csv('../data/df_protein.csv', index=False)

(722336, 5)

,sequence,pdb_id,mol,length,mol_description
4,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,101m_A,protein,154,MYOGLOBIN
7,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAAKSE...,102l_A,protein,165,T4 LYSOZYME
8,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,102m_A,protein,154,MYOGLOBIN
11,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNSLDAAK...,103l_A,protein,167,T4 LYSOZYME
12,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,103m_A,protein,154,MYOGLOBIN
15,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAKSAA...,104l_A,protein,166,T4 LYSOZYME
16,MNIFEMLRIDEGLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAKSAA...,104l_B,protein,166,T4 LYSOZYME
17,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,104m_A,protein,153,MYOGLOBIN
22,VLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDRF...,105m_A,protein,153,MYOGLOBIN
27,MVLSEGEWQLVLHVWAKVEADVAGHGQDILIRLFKSHPETLEKFDR...,106m_A,protein,154,MYOGLOBIN

In [38]:
df.to_csv('../data/df.csv', index=False)

In [39]:
df = pd.read_csv('../data/df.csv')

In [40]:
df['mol_description'].value_counts().head(30)

Capsid protein                                                     2672
capsid protein                                                     2623
Spike glycoprotein                                                 2623
coat protein                                                       2526
Capsid protein VP1                                                 2151
Major capsid protein                                               1983
Uncharacterized protein                                            1981
Beta-2-microglobulin                                               1948
Coat protein                                                       1640
STAPLE STRAND                                                      1526
Beta-lactamase                                                     1400
ATP-dependent Clp protease proteolytic subunit                     1281
Histone H4                                                         1245
cAMP and cAMP-inhibited cGMP 3',5'-cyclic phosphodiesterase 10A    1151
B-phycoerythrin beta chain                                         1106
Phycoerythrin alpha subunit                                        1032
Hemagglutinin                                                      1027
DNA-directed RNA polymerase subunit alpha                          1008
Ferritin heavy chain                                               1000
50S ribosomal protein L3                                            978
50S ribosomal protein L13                                           976
Non-structural protein 3                                            975
50S ribosomal protein L4                                            975
30S ribosomal protein S10                                           974
30S ribosomal protein S12                                           972
50S ribosomal protein L2                                            972
50S ribosomal protein L15                                           972
50S ribosomal protein L14                                           970
50S ribosomal protein L29                                           968
50S ribosomal protein L23                                           967
Name: mol_description, dtype: int64